{
	"jsxSingleQuote": true,
	"quoteProps": "as-needed",
	"arrowParens": "avoid",
	"semi": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"bracketSameLine": false,
	"bracketSpacing": true,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrder": [
		"^react$|^remix$|^@remix-run/",
		"<THIRD_PARTY_MODULES>",
		"^~/app/?(.*)$",
		"^~/(hooks|utils|lib|routes|typings)/?(.*)$",
		"^~/(components)/?(.*)$",
		"^~/(public)/?(.*)$",
		"^(../)+",
		"^(./)"
	]
}
