{
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^next|^react",
    "<THIRD_PARTY_MODULES>",
    "^@(hooks|utils|lib|typings)/?(.*)$",
    "^@(components|templates)/?(.*)$",
    "^[./]"
  ]
}
