@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family:
      'Epilogue',
      -apple-system,
      'Segoe UI',
      Helvetica Neue,
      Helvetica,
      Roboto,
      Arial,
      sans-serif,
      system-ui,
      'Apple Color Emoji',
      'Segoe UI Emoji';
  }

  a,
  button {
    @apply outline-none ring-blue-400 ring-offset-4 ring-offset-dark-850 focus-visible:ring-2;
  }
}

@layer components {
  .nav-link {
    @apply relative text-base font-light text-dark-400 hover:text-dark-500 dark:text-dark-300 dark:hover:text-dark-200;
  }
  .mobile-nav-link {
    @apply relative text-2xl font-light text-dark-400 hover:text-dark-500 dark:text-dark-200 dark:hover:text-dark-100;
  }
  .nav-link::before,
  .mobile-nav-link::before {
    content: '';
    @apply absolute left-0 -bottom-0.5 h-[1px] w-full origin-right scale-x-0 bg-dark-200 transition-transform duration-300 ease-in-out dark:bg-dark-400;
  }
  .nav-link:hover::before,
  .mobile-nav-link:hover::before,
  .active-nav-link::before {
    @apply origin-left scale-x-100;
  }
}
